div(ng-controller="formulario")
	section(id="form" flex)
		div(layout="column")
			nav(id="opciones")
				p() opciones
			form(id="consigna")
				div(class="form-group" layout="row" layout-align="center center")
						md-text-float( flex="50" ng-model="Consigna" label="escribre tu consigna aqui" md-blue-grey-theme value="ESCRIBRE TU  AQUI")
						md-button(class="btn" ng-click="add()")
	section(id="listas" flex)
		div()
			md-content.md-padding(style="height: 400px;")
				md-list(ng-repeat="x in consignas track by $index")
					md-item-content
						div.md-tile-content
							ul(layout="row")
								li {{x}}
						a(class="fa fa-trash fa-lg" ng-click="remove('consignas', '$index')")
					md-divider
