section(id="querry" class="form" layout="column" layout-fill)
	div(flex)
		div(layout-aling="column" layout-padding layout-fill layout-align="center center")
			div(flex="35")
				div(layout='row' layout-align="center center")
					div(id="opciones")
						p() opciones
			div(flex="50")
				form(id="consigna" )
					div(class="form-group")
						md-text-float( ng-model="user.inputQuery" label="escribre tu consigna aqui" md-blue-grey-theme value="ESCRIBRE TU  AQUI")
					div()
						md-button(class="btn")
	div(flex)
		div(id="listas" flex flex-order="2" layout="column" layout-fill )
			md-item()
				p lorem uahsdlkansdlk

