section(id="querry" class="form" layout="column" layout-fill)
	div(flex)
		div(layout="row")
			div(flex="33")
			div(id="opciones" flex="33")
				p() opciones

		form(id="consigna" layout="row" layout-align="center" layout-fill )
			div(flex="40" class="form-group")
				md-text-float( ng-model="user.inputQuery" label="escribre tu consigna aqui" md-blue-grey-theme value="ESCRIBRE TU CONSIGNA AQUI")
			div()
				md-button(class="btn")
	div(id="listas" flex flex-order="2" layout="column" layout-fill )
		md-item()
			p lorem uahsdlkansdlk

