md-sidenav(class="md-sidenav-left md-whiteframe-z2" md-component-id="left")
	md-toolbar(class="md-tall md-accent" layout="column" layout-align="space-around center")
		div
		div
			//-{{user.Profile}}
			img(src="images/userProfile.png", alt="starbucks" style="width:100px") 
			
		div
			//-{{user.Name}}
			h1(class="md-toolbar-tools") Mostazza 
			
	md-list
		div(ng-controller="nav-bar")
			md-item(ng-repeat="item in items")
				md-item-content
					div(class="md-tile-left")
						img(ng-src="" class="icon")
					div(class="md-tile-content" ng-controller="LeftCtrl")
						a(ng-click="close()" href="{{item.link}}"){{item.li}}


