extends layout

block content
	div(layout="column" layout-fill id="grupo")
		section(id="querry" flex)
			div(layout="column" class="form" layout-fill)
				div(layout="row")
					div(flex="33")
					div(id="opciones" flex="33")
						p() opciones

				form(id="consigna" layout="row" layout-align="center" layout-fill )
					div(flex=40 class="form-group")
						md-text-float( ng-model="user.inputQuery" label="escribre tu consigna aqui" md-blue-grey-theme value="ESCRIBRE TU CONSIGNA AQUI" class="inputForm")
					md-button(class="md-raised md-primary") +
				div(flex)
		section(id="listas" flex)
			md-item()


