extends layout

block content

	section(layout="row" layout-align="center center" layout-fill id="hello")
		div(flex="30" id="logo")

		div(flex="70", class="title")

			h1 Querry
			h3 Preguntale a todos <small><mark>sobre lo que sea</mark></small>
			p 
			mark(style="background-color:white") el nuevo tema de tu banda ,algun consejo sobre deciciones,la calidad de tu servicio..

			p <i>Las opiniones de los demas a un <ins> click </ins>de distancia </i>
			a(class="md-raised md-primary box" id="login" href="/dashboard") Crea tu encuesta ahora



	section(layout="column" layout-fill layout-align="space-around center" id="comoFunciona")
		div()
				h1(style="font-size:60px") Como funciona
		div()
			div(layout="row" layout-margin layout-sm="column" )
				div(flex-order="1")
					img(src="images/icons/globaltext.png")
					article(class='blue')
							h2 <i>Configuras tu encuesta</i>
							p Escribe las preguntas que quieras .<small>Si en necesario podes hasta agregar (audio, video o fotografias).</small>
							p 
								<i> <ins>Hay 3 tipos de respuestas :</ins><i/>
							ppor SI o por NO, dar opciones o una respuesta de hasta 170 caracteres
				div(flex-order="2")
					img(src="images/icons/share.png")
					h2 Se la compartis a quien quieras
					p Usa tus redes sociales , tu email o impri un codigo QR para flyer,entradas,menues etc etc...
				div(flex-order="3")
					img(src="images/icons/statistics.png")
					h2 Lees las respuestas
					p Vas a recibir una estadistica con cada respuesta





	section(layout="row" layout-fill id="servicios"  ng-controller="sliderCount")
		div(flex="35")

