extends layout

block content
	section(layout="row" layout-align="center center" layout-fill id="hello")
		div(flex="30" id="logo")

		div(flex="70", class="title")

			h1 Querry
			h3 conocé lo que piensan los demás
			p Divertidas encuestas , faciles de responder y  rapidas 
			br
			p Crea una encuesta y comparti el link o el codigo QR al publico
			a(class="md-raised md-primary box" id="login" href="/profile") Ingresá



	section(layout="column" layout-fill layout-align="space-around center" id="comoFunciona")
		div()
				h1(style="font-size:60px") Como funciona
		div()
			div(layout="row" layout-margin )
				div(flex-order="1")
					img(src="images/icons/globaltext.png")
					h3 Incia una encuesta
					p Podes crear encuestas personalizadas, agregar  audio, imagenes o video.Y tambien podes encontrar encuestas predeterminadas.Facil
				div(flex-order="2")
					img(src="images/icons/share.png")
					h3 Compartila
					p Una vez erminada la edicion de la encuesta la compartes a tus redes sociales , por email o podes utilizar el codigo QR asignado para tu perfil
				div(flex-order="3")
					img(src="images/icons/statistics.png")
					h3 Recibi las estadisticas
					p Mientras las personas vallan contestando nosotros vamos a ir resolviendo una estadistica que la vas a poder visualizar desde tu perfil





	section(layout="row" layout-fill id="servicios"  ng-controller="sliderCount")
		div(flex="35")

