doctype html
html
  head
    link(href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css")

    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/bower_components/angular-material/themes/green-theme.css')


    script(src='/bower_components/hammerjs/hammer.js')
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-animate/angular-animate.js")
    script(src="/bower_components/angular-aria/angular-aria.js")
    script(src="/bower_components/angular-material/angular-material.js")


  body(ng-app="ngAnimate")
    block content