extends layout

block content
	div(ng-controller="AppCtrl")
		include partials/nav-bar
		div(layout="column")
			div(flex)
				md-toolbar(layout="row")
					img(ng-click="toggleLeft()" src="public/images/icons/nav-icon.png" style="width:20px;height:20px;margin:20px 0 0 10px; cursor:pointer")
					h2.md-toolbar-tools Querry

	include partials/formulario



					



