body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700
}
a{
    text-decoration: none;
}
/* SECTION HELLO */

#hello {
    background: url(/images/barra.gif) no-repeat;
    background-color: #23AFC8;
    background-position: bottom;
    color: white
}
.title h1 {
    font-size: 100px;
    line-height: 20px
}
.title h3 {
    font-size: 50px;
}
.title p {
    line-height: 0;

}
.box {
    /* BOTON */
    
    position: absolute;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 60px;
}
.box:hover {
    opacity: 0.8;
}
/* SECCION COMO FUNCIONA */

#comoFunciona {

    background-color: #fff;
    background-image: url(/images/personaje2.png)no-repeat;
    text-align: center;

}

#comoFunciona img{
	width: 150px;
	height: 120px;
}

#comoFunciona p{
color:#696969;
}
article mark{
    background:#61B6E9;

}
/* SECCION SERVICIOS */

#servicios {
    background-color: #E66D65
}

.nav-icon{
    background-image: url("/images/icons/nav-icon.png")no-repeat;
    display: inline-block;
}


#profile a{
    
}

section#querry{
    background-color: #2eb3bf;
    text-align:center;

}
.form #opciones{
    background-color: #fff;
    text-align:center;
    border-radius: 60px

}
.form #consigna{
    text-align:center;

}

#consigna input{
    border:none;
    background-color: transparent;
    border-bottom-style: solid;
    border-color: #000;
    color: white;
    width:100%;
    font-weight: 700;
}
#consigna label{
    color: white;
    text-transform: uppercase;
}

.btn{

    background: url("/public/images/icons/addIcon.png") no-repeat;
    background-position: center;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 25px;
    margin-left:5px;
}
.btn:hover{
opacity: 0.2

}
#listas{
   background-color: #f2f2f2

}
